*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: darkslategrey;
}

.start,
.rules-box,
.quiz-box,
.score-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Start button style */

.start button {
    font-size: 30px;
    font-weight: 500;
    color: snow;
    padding: 15px 30px;
    outline: none;
    border-radius: 20px;
    background-color: black;
    cursor: pointer;
    transition: all 0.3s ease;
}

.start button:hover {
    background: snow;
    color: black;
    border-color: black;
}

/*Rule box style */
.rules-box{
    width: 540px;
    background-color: snow;
    border-radius: 7px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.5);
}

.rules-box .rules-title {
    height: 60px;
    width: 100px;
    border-bottom: 1px solid darkslategrey;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.rules-box .rules-list {
    padding: 15px 35px;
}

.rules-box .rules-list .rules {
    margin: 5px 0;
    font-size: 20px;

}

.rules-box .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid darkslategrey;
}

.rules-box .buttons button {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid darkslategrey;
    border-radius: 5px;
    color: snow;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Rule box end */

.buttons button.retry {
    color: snow;
    border-color: darkslategrey;
    background-color: darkslategrey;
}

.buttons button.retry:hover {
    background-color: black;
}

.buttons button.quit {
    color: darkslategrey;
    border-color: darkslategrey;
}

.buttons button.quit:hover {
    color: snow;
    background-color: darkslategrey
}

/*Quiz box style*/
.quiz-box {
    width: 550px;
    background-color: snow;
    border-radius: 7px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.5);
}

.quiz-box header {
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background-color: snow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.quiz-box header .title {
    font-size: 20px;
    font-weight: 600;
}

.quiz-box header .timer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 145px;
    height: 45px;
    background-color: darkslategrey;
    color: snow;
    border: 1px solid darkslategrey;
    border-radius: 20px;
    padding: 0 8px;
}

.quiz-box header .timer .time-text {
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz-box header .timer .time-rem {
    font-size: 18px;
    font-weight: 500;
    background-color: black;
    height: 30px;
    width: 45px;
    color: snow;
    text-align: center;
    line-height: 30px;
    border-radius: 20px;
    border: 1px solid black;
    user-select: none;
}

.quiz-box section {
    padding: 25px 30px 20px 30px;
    background-color: snow;
}

.quiz-box section .question-text {
    font-size: 25px;
    font-weight: 600;
}

.quiz-box section .choice-list {
    padding: 20px 0;
    display: block;
}

section .choice-list .choice {
    background-color: transparent;
    color: darkslategrey;
    border: 1px solid darkslategrey;
    border-radius: 7px;
    padding: 8px 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}

.choice-list .choice:last-child{
    margin-bottom: 0px;
}

section .choice-list .choice:hover {
    background-color: darkslategrey;
    color: snow;
}

.quiz-box footer {
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz-box footer .question-total span {
    display: flex;
    user-select: none;
}

footer .question-total span p {
    font-weight: 500;
    padding: 0 5px;
}

.question-total span p:first-child {
    padding-left: 0px;
}

footer .next-button {
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    background: darkslategrey;
    color: snow;
    border-radius: 7px;
    border: 1px solid darkslategrey;
    cursor: pointer;
    transition: all 0.3s ease;
}

footer .next-button:hover {
    background: black;
}

.score-box {
    background: snow;
    width: 450px;
    padding: 25px 30px;
    border-radius: 7px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.5);
}

.score-box .quiz-complete {
    font-size: 20px;
    font-weight: 500;
}

.score-box .score-text span {
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.score-text span p {
    font-weight: 600;
    padding: 0 4px;
}

.score-box .buttons {
    display: flex;
    margin: 20px 0;
}

.score-box .buttons button {
    margin: 0 10px;
    height: 40px;
    padding: 0 20px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
    border: 1px solid darkslategrey;
    cursor: pointer;
    transition: all 0.3s ease;
}